/* =========================
   GLOBAL
========================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Segoe UI',sans-serif;
background:#f3f4f6;
}

/* =========================
   AUTH PAGE
========================= */

.auth-body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;
}

.auth-container{

width:950px;

height:600px;

background:white;

border-radius:25px;

overflow:hidden;

display:flex;

box-shadow:0 10px 40px rgba(0,0,0,0.12);
}

/* =========================
   LEFT SIDE
========================= */

.auth-left{

flex:1;

background:
linear-gradient(
135deg,
#111827,
#1f2937
);

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:40px;

text-align:center;
}

.auth-left h1{

font-size:58px;

font-weight:800;

margin-bottom:15px;

letter-spacing:2px;
}

.auth-left p{

font-size:22px;

color:#d1d5db;

max-width:300px;

line-height:1.6;
}

/* =========================
   RIGHT SIDE
========================= */

.auth-right{

flex:1;

display:flex;

justify-content:center;

align-items:center;

padding:50px;
}

.auth-form{

width:100%;

max-width:350px;
}

.auth-form h2{

font-size:40px;

margin-bottom:10px;

color:#111827;
}

.sub-text{

color:#6b7280;

margin-bottom:28px;

font-size:15px;
}

/* =========================
   INPUTS
========================= */

.auth-form input{

width:100%;

padding:16px 18px;

margin-bottom:18px;

border:1px solid #ddd;

border-radius:14px;

font-size:15px;

transition:0.3s;
}

.auth-form input:focus{

border-color:#111827;

box-shadow:0 0 10px rgba(0,0,0,0.08);

outline:none;
}

/* =========================
   BUTTON
========================= */

.auth-form button{

width:100%;

padding:16px;

background:#111827;

color:white;

border:none;

border-radius:14px;

font-size:16px;

font-weight:700;

cursor:pointer;

transition:0.3s;
}

.auth-form button:hover{

background:black;

transform:translateY(-2px);
}

/* =========================
   BOTTOM TEXT
========================= */

.bottom-text{

margin-top:20px;

text-align:center;

color:#6b7280;
}

.bottom-text a{

color:#111827;

font-weight:700;

text-decoration:none;
}

.bottom-text a:hover{

text-decoration:underline;
}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media(max-width:900px){

.auth-container{

flex-direction:column;

height:auto;

width:95%;
}

.auth-left{

padding:50px 20px;
}

.auth-left h1{

font-size:42px;
}

.auth-left p{

font-size:18px;
}
}
